Repository cerepx/hello-birthday-api-config-repo, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, infra, ci, rds, alb, ecs

feat: modify ALB to internal and expose API Gateway to clients
  terraform/envs/dev/dev.tfvars.example
  terraform/envs/dev/dev.tfvars.json.example
  terraform/envs/prod/prod.tfvars.example
  terraform/envs/prod/prod.tfvars.json.example
  terraform/main.tf
  terraform/modules/alb/main.tf
Labels: feat, infra, alb

feat: modify ALB to internal and expose API Gateway to clients (#20)
  terraform/envs/dev/dev.tfvars.example
  terraform/envs/dev/dev.tfvars.json.example
  terraform/envs/prod/prod.tfvars.example
  terraform/envs/prod/prod.tfvars.json.example
  terraform/main.tf
  terraform/modules/alb/main.tf
Labels: feat, infra, alb

chore(terraform): fix tfsec findings for security best practices
  .github/workflows/terraform-plan.yml
  terraform/envs/.tfsec.yaml
  terraform/envs/dev/.tfsec.yaml
  terraform/modules/alb/main.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/vpc/main.tf
Labels: feat, infra, ci, alb

chore(terraform): fix tfsec findings for security best practices (#21)
  .github/workflows/terraform-plan.yml
  plan.txt
  terraform/envs/.tfsec.yaml
  terraform/envs/dev/.tfsec.yaml
  terraform/modules/alb/main.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/vpc/main.tf
Labels: feat, infra, ci, alb

chore(terraform): fix tfsec findings for security best practices (#21)
  .github/workflows/terraform-plan.yml
  plan.txt
  terraform/envs/.tfsec.yaml
  terraform/envs/dev/.tfsec.yaml
  terraform/modules/alb/main.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/vpc/main.tf
Labels: feat, infra, ci, alb

docs: update README with contributor notes and build tools
  README.md
Labels: none

docs: update README with contributor notes and build tools (#23)
  README.md
Labels: none

docs(readme): refine contributor guidelines and clarify env workflows
  README.md
Labels: none

docs(readme): refine contributor guidelines and clarify env workflows (#25)
  README.md
Labels: none

chore: update hello-birthday-api image to 1.0.35 (#26)
  dependencies.yml
Labels: none

ci(terraform): refine terraform plan workflow for better consistency
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
Labels: feat, ci

ci(terraform): refine terraform plan workflow for better consistency (#28)
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
Labels: feat, ci

chore: update hello-birthday-api image to 1.0.38 (#30)
  dependencies.yml
Labels: none

chore: update hello-birthday-api image to 1.0.40 (#31)
  dependencies.yml
Labels: none

ci(terraform): refine terraform plan workflow for better consistency
  .github/workflows/terraform-plan.yml
Labels: feat, ci

ci: fix branch detection by switching from head_ref to base_ref in workflows
  .github/workflows/terraform-plan.yml
Labels: feat, ci

chore: update hello-birthday-api image to 1.0.43 (#33)
  dependencies.yml
Labels: none

chore: update hello-birthday-api image to 1.0.45 (#34)
  dependencies.yml
Labels: none

chore: update hello-birthday-api image to 1.0.47 (#35)
  dependencies.yml
Labels: none

docs: add architecture diagrams and update README
  docs/architecture/cicd-hello-birthday-api.svg
  docs/architecture/hello-birthday-api-infra-arch.drawio
  docs/architecture/hello-birthday-api-infra-arch.pdf
Labels: none

docs: update README
  README.md
Labels: none

docs: update README
  docs/architecture/cicd-hello-birthday-api.svg
Labels: none

docs: add architecture diagrams and update README (#37)
  README.md
  docs/architecture/cicd-hello-birthday-api.svg
  docs/architecture/hello-birthday-api-infra-arch.drawio
  docs/architecture/hello-birthday-api-infra-arch.pdf
Labels: none

chore: update hello-birthday-api image to 1.0.49 (#39)
  dependencies.yml
Labels: none

🚀 Release: Infrastructure Deployment for hello-birthday-api - image version 1.0.49 (#40)
  dependencies.yml
Labels: none

.github/labeler.yml:

# Labeler rules for auto-tagging PRs

feat:
  - '.github/workflows/**'
  - 'terraform/modules/**'

infra:
  - 'terraform/**'

ci:
  - '.github/workflows/**'

rds:
  - 'terraform/modules/rds/**'

alb:
  - 'terraform/modules/alb/**'

ecs:
  - 'terraform/modules/ecs_cluster/**'
  - 'terraform/modules/ecs_service/**'
